<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Digital Asset Lifecycle Test Suite">
    <test name="All Tests">
        <classes>
            <class name="com.example.demo.DigitalAssetLifecycleAuditTrailApiTest"/>
            <class name="com.example.demo.TestResultListener"/>
        </classes>
    </test>
</suite>